*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("file:///C:/Users/frina/OneDrive/%E3%83%89%E3%82%AD%E3%83%A5%E3%83%A1%E3%83%B3%E3%83%88/rephthal.github.io/2074_20241020133101.png");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
header{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(40px);
    opacity: 1.0;
    height: 13%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
header figure img{
    width: 4.5%;
    border-radius:50%;
    float: left;
    padding: 1%;
    position: relative;
  
   
}
header h1{
    font-family: system-ui	;
    font-size: 18px;
    margin-bottom: 10px;
    
    text-align: left;
    position: relative;
    left: 18px;
    top: 30px;
    color: #4d162c;
}
    
header nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    
    
}

  
header nav ul li a{
    color: #4d162c;
    text-decoration: none;
    margin-right:50px;
    letter-spacing:.1em;
    font-size: 15px;
    position: relative;
    bottom: 1px;
    text-align: center;
    
} 

.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

main .ab{
    
    padding: 30px;
    text-align: center;
}
main .ab h2{
    font-family: "Arial", "メイリオ";
    font-size: 35px;
    margin-top: 10%;
    color: #4d162c;
    padding-top: 100px;

    
}
main .chapter1{
    padding-top: 100px;

}
main .ab h2 .chapter1{
    display: block;
    padding-top: 500px;
    margin-top: -500px;
}

.bottom_space {
    margin-bottom: 2em;
  }
main .ab  p{
    text-align: left;
    color: #4d162c;
    
}


aside figure img{
    width: 100%;
}
main .ab .container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
main .cd{
    
    padding: 30px;
    text-align: center;
}
main .cd h2{
    font-family: "Arial", "メイリオ";
    font-size: 35px;
    margin-bottom: 20px;
    padding-top: 100px;
    
}

main .cd table{
    color: (45, 21, 29); 
    border: double 3px #e5568f;/*二重線 太さ 色*/
    opacity: 0.8;
    background: #ffffff; 
    line-height: 1.5;
    height: 30%;
    width: 60%;
    margin: auto;
    
    
}
main .cd table td{
    font-size: 15px;
    color: #4d162c;
    padding: 1%;
    margin: auto;
    text-align: left;
    line-height: 13px;
}

article .container p{
    font-size: 15px;
    color: #4d162c;
    text-align: left;
    
}
aside{
    padding: 30px;
    text-align: center;
    
}
aside h2{
    font-family: "Arial", "メイリオ";
    font-size: 35px;
    margin-bottom: 20px;
    padding-top: 100px;
}
aside p{
    font-family: "Arial", "メイリオ";
    margin-bottom: 20px;
}
aside figure img{
    width: 30%;
    border: solid 1.0px #e5568f;
    
}
aside .btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(217, 234, 236);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 25px;
}

aside .btn:hover{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(217, 234, 236);
    color: #4d162c;
}
footer{
    background-color: white;
    color: #4d162c;
    padding: 10px;
    text-align: center;
}
